@using System.Security.Claims
@model List<CampaignManager.Persistence.Models.NoteType>

@{
    ViewData["Title"] = "Note Types";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>NoteTypes</h1>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Owner</th>
            <th>Player Template Id</th>
            <th>Gamemaster Template Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Owner?.UserName</td>
                <td>@(item.PlayerTemplateId.HasValue ? item.PlayerTemplateId.ToString() : "No template set")</td>
                <td>@(item.GameMasterTemplateId.HasValue ? item.GameMasterTemplateId.ToString() : "No template set")</td>
                <td>
                    @if (userId == item.OwnerId)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <ul class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)">Previous</a>
            </li>
        }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Note Type</a>
</p>