@model CampaignManager.Persistence.Models.Campaign

@{
    ViewData["Title"] = "Leave Campaign";

    string CapitalizeFirstLetter(string input)
    {
        if (string.IsNullOrEmpty(input))
            return input;
        return char.ToUpper(input[0]) + input.Substring(1).ToLower();
    }
}

<h3>Are you sure you want to leave this campaign?</h3>
<div class="details-view">
<div>
    <h4>Campaign</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Campaign Image
        </dt>
        <dd class="col-sm-10">
            @if (Model.Image != null)
            {
                <img src="@Url.Action("DisplayImage", "Campaigns", new { id = Model.Id })" class="item" />
            }
            else
            {
                <text>No image</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edited)
        </dd>
        <dt class="col-sm-2">
            Owner
        </dt>
        <dd class="col-sm-10">
            @if (Model.Owner != null)
            {
                @CapitalizeFirstLetter(Model.Owner.UserName ?? "No Owner").ToLower()
            }
            else
            {
                <text>No owner</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <form asp-action="LeaveCampaign" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Leave</button>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</div>

<p></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
